*{
    margin: 0;
    padding: 0;
}
html , body{
    /* box-sizing: border-box; */
    background-color: #81E979;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#box{
    background-color: rgba(247, 247, 153, 0.861);
    height: 18vmin;
    color: darkred;
    width: 18vmin;
    font-size: 4rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}
#reset{
    /* margin-top: 2rem; */
    background-color: white;
    color: black;
    padding: 1vmin;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
#new-game{
    margin-top: 1rem;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-left: 3rem;
}
#message{
    font-size: 4vmin;
    font-family: monospace;
}
.hide{
    display: none;
}